* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.container {
    max-width: 1208px;
    margin: 0 auto;
    padding: 0 25px;
}

#header_top {
    height: 52px;
    background-color: aliceblue;
}

#header_bottom {
    height: 116px;
    background-color: antiquewhite;
}

#scnd_sec .container {
    display: flex;
}

#scnd_sec h2 {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -1.5px;
    display: inline-block;
    padding: 0px 0px 30px 0px;
    margin-top: 120px;
}

#scnd_sec h2 span {
    color: #58595E;
}

#img_sec_questions span {
    color: #0F172A;
    font-weight: 600;
    font-size: 20px;
}

#scnd_sec p {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.2px;
    font-weight: 500;
    color: #787b84;
}

#img_country_questions {
    margin-top: 90px;
}

#ul_questions li {
    border: 1px solid #EDF3F5;
    border-radius: 20px;
    cursor: pointer;
    padding: 29px 40px;
    padding-right: 32px;
    margin-bottom: 20px;
}

#img_sec_questions {
    margin-top: 130px;
    width: 60%;
}

.ds-flx-offer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 29px;
}

.round_icon {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 7px rgba(178, 190, 205, 0.29);
}

#ul_questions p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 28px;
    color: #58595E;
    word-wrap: break-word;
    letter-spacing: -0.2px;
    font-weight: 500;
}

.ds-flex-offer {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 7px;
}

.ds-flex-offer i {
    font-size: 16px;
    color: #5F6064;
}

.none_margin {
    margin: 0!important;
    font-size: 16px;
    font-weight: 500;
}

#img_country_questions img {
    width: 100%;
}

@media screen and (max-width: 1000px) {
    #scnd_sec h2 {
        font-size: 42px;
    }
}

@media screen and (max-width:768px) {
    #scnd_sec .container {
        display: flex;
        flex-direction: column;
    }
    #img_sec_questions {
        margin-top: 10px;
        width: 100%;
    }
}